<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>week3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container" id="app">
        <div class="row mt-4">
            <div class="col-6">
                <h3><i class="fas fa-star-and-crescent"></i> 產品管理</h3>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-info" @click="showModal('', 'productView')">新增產品</button>
            </div>
        </div>

        <table class="table table-striped mt-4">
            <thead>
              <tr>
                <th scope="col" class="text-left" width="150">分類</th>
                <th scope="col" class="text-left">產品名稱</th>
                <th scope="col" width="120">原價</th>
                <th scope="col" width="120">售價</th>
                <th scope="col" width="100">庫存</th>
                <th scope="col" width="100">是否啟用</th>
                <th scope="col" width="100">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in products" :key="item.id">
                <td class="text-left">{{ item.category }}</td>
                <td class="text-left">{{ item.title }}</td>
                <td>{{ item.origin_price }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.stock }}</td>
                <td>
                    <span class="icon-green" v-if="item.enabled">O</span>
                    <span class="icon-red" v-else>X</span>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" title="編輯" @click="showModal(item, 'productView')"><i class="fas fa-pen"></i></button>
                    <button type="button" class="btn btn-outline-danger btn-sm" title="刪除" @click="showModal(item, 'removeView')"><i class="fas fa-trash-alt"></i></button>
                </td>                
              </tr>
            </tbody>
        </table>

        <div class="modal fade" id="productView" tabindex="-1" role="dialog" aria-labelledby="productViewLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productViewLabel" v-if="tempData.id">編輯產品</h5>
                        <h5 class="modal-title" id="productViewLabel" v-else>新增產品</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="imageUrl">圖片網址</label>
                                    <input type="text" class="form-control" id="imageUrl" v-model="tempData.imageUrl" placeholder="請輸入圖片網址">
                                    <img :src="tempData.imageUrl" :alt="tempData.title" class="product-img mt-3">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="title">產品名稱</label>
                                    <input type="text" class="form-control" id="title" v-model="tempData.title" placeholder="請輸入產品名稱">
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="category">產品分類</label>
                                        <input type="text" class="form-control" id="category" v-model="tempData.category" placeholder="請輸入產品分類">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="unit">單位</label>
                                        <input type="text" class="form-control" id="unit" v-model="tempData.unit" placeholder="請輸入單位">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label for="origin_price">原價</label>
                                        <input type="number" class="form-control" id="origin_price" v-model="tempData.origin_price" placeholder="請輸入原價">
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="price">售價</label>
                                        <input type="number" class="form-control" id="price" v-model="tempData.price" placeholder="請輸入售價">
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="stock">庫存</label>
                                        <input type="number" class="form-control" id="stock" v-model="tempData.stock" placeholder="請輸入庫存">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label for="content">產品描述</label>
                                        <textarea class="form-control" id="content" rows="5" v-model="tempData.content" placeholder="請輸入產品描述"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label for="description">說明內容</label>
                                        <textarea class="form-control" id="description" rows="5" v-model="tempData.description" placeholder="請輸入說明內容"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label>提供的結帳方式：</label>
                                        <div class="form-check form-check-inline" v-for="item in checkoutMethod" :key="item.classId">
                                            <input class="form-check-input" type="checkbox" :id="`checkout${ item.classId }`" :value="item.classId" v-model="tempData.checkoutChecked">
                                            <label class="form-check-label" :for="`checkout${ item.classId }`">{{ item.className }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-4">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="enabled" v-model="tempData.enabled">
                                            <label class="form-check-label" for="enabled">是否啟用</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-info" @click="updateData()">確認</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="removeView" tabindex="-1" role="dialog" aria-labelledby="removeViewLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="removeViewLabel">刪除產品</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>是否刪除：【{{ tempData.title }}】產品？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" @click="removeData()">確認</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/all.js"></script>
</body>
</html>